//Fonts
$font-size-base: 1rem; //16px
$font-size-52: $font-size-base * 3.25; //52px
$font-size-44: $font-size-base * 2.75; //44px
$font-size-32: $font-size-base * 2; //32px
$font-size-24: $font-size-base * 1.5; //24px
$font-size-15: $font-size-base * .9375; //15px
$font-size-16: $font-size-base * 1; //16px
$font-size-12: $font-size-base * .75; //12px

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 28px;
$line-height-medium: 38px;
$line-height-large: 52px;

$border-radius: .25rem;
$grid-base: 10px;

//Breakpoints
$breakpoint-small: '536px';
$breakpoint-medium: '992px';
$breakpoint-large: '1280px';